@charset "utf-8"

.body{
	background-image:url(Imagenes/bright_squares.png);
	background:repeat;
	}
.contenedor{
	width:1400px;
	height:auto;
	alignment-adjust:central;	

}

.desplazar{
float:right;
width:450px;	
}